@font-face {
    font-family: TacOne;
    src: url('assets/fonts/TacOne-Regular.ttf');
}

@font-face {
    font-family: Foldit;
    src: url('assets/fonts/Foldit-Regular.ttf');
}

body {
    background: rgb(24, 24, 24);
    color: #ccc;
    text-align: center;
}

#main-title {
    font-family: TacOne, serif;
    font-size: 100px;
    text-shadow: 2px 2px 2px 2px #fff;
}

.link-title {
    font-family: Foldit, serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px 2px #fff;
}

.link-img {
    width: 100px;
    height: 100px;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.link {
    display: inline-block;
    margin-right: 50px;
}